*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
    color: white;
}
span{
    font-size: xx-large;
    font-weight: bolder;
    color: #639CD9;
}
nav{
    background: #233E8B;
    height: 80px;
    width: 100%;
   
}
nav ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    line-height: 80px;
    list-style: none;

}
nav ul li a{
    color: white;
    

}
nav ul li a:hover{
    border-radius: 5px;
    background: black;
    padding: 5px;
    transition: 0.2s;
    color: white;
}

img{
    width: 250px;
    height: 50vh;
    border-radius: 10%;
    transform: rotate(-9deg);

}
img:hover{
    transform: rotate(0deg);

transition: 1.5s;
}
.container1{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
align-items: center;
margin: auto;

}
.container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    gap: 15px;
}
.container3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 50%;
    gap: 15px;

}
.all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;
    

}
.container4{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 30px;
}
.webdevelopment{
    display: flex;
    flex-direction: column;

    background: rgb(58, 58, 157);
    border-radius: 10px;
    padding: 30px;
}
.webdevelopment:hover{
    border: solid 2px #639CD9;
    background: #11144c;
    transition: 0.5ms;
    cursor: pointer;
}
.music{
    display: flex;
    flex-direction: column;

    background: rgb(58, 58, 157);
    border-radius: 10px;
    padding: 30px;
    padding-right:75px ;
    padding-inline-start: 80px;
    padding-block: -10px;

}
.music:hover{
    border: solid 2px #639CD9;
    background: #11144c;
    transition: 0.5ms;
    cursor: pointer; 
}
.mm{
    text-align: center;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

button{

    background:  #11144c;
    border: solid 1px  #639CD9 ;
    padding: 5px;
    
}
button:hover{
    background: white;
    border: solid 1px black;
    padding: 7px;
    
    color: black;
   
   
}
a:hover{
    color: black;

}

button a{
    color: white;
}

footer{
    height: 20vh;
    background: #8ED6FF;
    width: 100%;
}
.rights{
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: auto;
 padding-top: 50px;
 font-size: smaller;
}



